@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #dbe9f5;
    color: #555;
    padding: 10%;
}

h1 {
    margin-bottom: 1%;
}

h2 {
    margin-bottom: 5%;
}

#locationSearch {
    display: flex;
    justify-content: center;
    gap: 3%;
}

input {
    padding: 5%;
    margin-bottom: 3rem;
    height: 2.5rem;
    width: 15rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

button {
    background: #a6d7d6;
    color: white;
    padding: 5%;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
    button:hover {
        background: #afdede;
    }

span {
    font-size: 1.25rem;
}

#weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hidden {
    display: none;
}