* {
    box-sizing: border-box;
}

html {
    text-align: center;
    background: url('../css/pic/purplebackground.jpg');
    background-size: cover;
}

input {
    border-radius: 30px;
    border: 5px ridge lavender;
    float: left;
}

#inputs {
    float: left;
    height: 185px;
    width: 300px;
    margin-left: 44%;
}

h1 {
    font-family: 'Poiret One';
    font-size: 4rem;
    border: 15px groove lavender;
    border-radius: 30px;
    color: teal;
}


h2 {
    margin-right: 18px;
    font-size: 4rem;
    margin-top: 16%;
    color: teal;
}

h3 {
    margin-right: 20px;
    float: left;
}

button {
    margin-top: 50px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 35px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    float: left;
}

button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}