h1{
  text-align: center;
  font-size: 3rem;
  font-style: oblique;
  margin: 0;
}
header{
  width: 100%;
  height:100px;
  background-color: lightblue;
  float: left;
}


main{
  width: 100%;
  height: 500px;
  float: left;
  background-color: lightgrey;
}

span{
  font-size: 3rem;
  color: chocolate;
  margin-left: 45%;
}

p{
  text-align: center;
  font-size: 2rem;
  color: cadetblue;
}
