*{
    box-sizing: border-box;
}

body{
    background: url('weatherpic.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
html{
    font-family: "Oxygen", sans-serif;
    color: rgb(255, 255, 255);
}
h1{
    text-shadow: 2px 2px rgb(185, 225, 242);
}
button{
    font-family: "Oxygen", sans-serif;
    background:rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1px;
    color: rgb(106, 182, 228);;
}
input{
    font-family: "Oxygen", sans-serif;
    background:rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1px;
    color: rgb(106, 182, 228);;
}
h1{
    font-size: 4rem;
}