* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  body{
      width: 100%;
      background: url(greatsky.jpg);
      background-size: cover;
    }

    h1{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 40px;
        text-align: center;
        color: white;
        margin: 25px;
    }
    .myInput{
        margin-left: 593px;
    }
    h2{
        text-align: center;
        font-size: 30px;
        margin: 5px;
    }
    h3{
        text-align: center;
        font-size: 30px;
        margin: 5px;
    }
    h4{
        text-align: center;
        font-size: 30px;
    }
    h5{
        text-align: center;
        font-size: 30px;
    }