* {
    box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

body {
    background-image:url(../img/blueSky.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
}

.headerOne, .weatherInput {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tempSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

h3 {
    font-size: 37px;
}