body{
    display:flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    font-size:2.7rem;
    background-image: url(fortheBackground.png);
    background-size: cover;
}
.cute{
    position:relative;
    top: 25.1110%;
    left: 36%;
    animation: myanimation 10s infinite;
    width:575px;
}

@keyframes myanimation{
    0% {Background-image: url(storm1.jpeg);}
    25% {Background-image: url(storm2.jpeg);}
    50% {Background-image: url(storm3.jpeg);}
    75% {Background-image: url(storm4.jpeg);}
    100% {Background-image: url(storm5.jpeg);}
}
section{
    /* border: 1px white solid; */
    padding: 14px;
    color: white;
}
.weatherResults{
    width: 100%;
}
button{
    width: 70px;
    height:100%;
    display:block;
}