/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }

  body{
      background-image: url('weather.png');
      background-repeat: no-repeat;
      background-size: cover;
  }

  h1{
    font-family: 'Roboto Mono', monospace;
    font-size:45px;
    padding:0;
    margin-bottom:2%;
  }

  input{
    font-family: 'Roboto Mono', monospace;
    width:5.5%;
    padding:.5%;
    margin:.2%;
    border-radius: 8px;
    border: none;
  }

  #submit{
    background-color: black;
    color: white;
    margin-left: 1%;
  }

  #city{
      width:10.5%;
  }

  .main{
      text-align: center;
      padding-top:3.5%;
  }

  #returnedTemp{
    font-family: 'Roboto Mono', monospace;
    font-size:40px;
  }

  @media screen and (min-width: 501px) and (max-width: 1000px){
    body{
      background-image: url('mobileWeather.png');
      background-repeat: no-repeat;
      background-size: cover;
  }
  h1{
    margin-left: 15%;
    margin-right: 15%;
    margin-top:10%;
  }

  #returnedTemp{
    margin-top:8%;
    margin-left: 15%;
    margin-right: 15%;
  }
  input{
    width:15%;
    margin-top:5%;
  }
  }

  @media screen and (max-width: 500px){
    body{
      background-image: url('mobileWeather.png');
      background-repeat: no-repeat;
      background-size: cover;
  }
  h1{
    font-size:35px;
    padding-right:8%;
    padding-left:8%;
    margin-top:15%;
  }
  input{
    width:20%;
    margin-top:10%;
  }
  #returnedTemp{
    font-size:30px;
    padding-right:8%;
    padding-left:8%;
    margin-top:10%;
  }
  }