*{
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif;
  background-image: url('weatherMap.png');
  background-size: auto;
  background-repeat: repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main{
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.527);
  width: 545px;
  height: 300px;
}
h1, h2, p{
  text-align: center; 
}
h1{
  position: relative;
  top: 26px;
}
h2{
  position: relative;
  top: 46px;
}
p{
  font-size: 1.125rem;
  position: relative;
  bottom: 100px;
}
.inputButton{
  height: 25px;
  position: relative;
  top: 66px;
  left:78px;
}
button{
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  border-radius: 25px;
  border: .5px solid black;
  background-color: navy;
  color: white;
}
input{
  font-family: 'Raleway', sans-serif;
}
h1{
  font-family: 'Questrial', sans-serif;
}
h2{
  font-size: 1rem;
}
