* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-align: center;
}

/* Clearfix Hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* Body Styling */

body {
    font-size: 2.5rem;
}

main {
    display: flex;
    justify-content: center;
}

section {
    margin: 1% 1%;
    padding: 1%;
}

img {
    height: 200px;
}