/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}
html{
  font-size: 10px;
}
div{
  background-image: url('../img/weatherPic.jpg');
  float: left;
  width: 100%;
  height: 922px;
  background-size: cover;
  background-repeat: no-repeat;
}
h2{
  height: 100px;
  width: 100%;
  float: left;
  text-align: center;
  font-size: 5rem;
  color: moccasin;
  font-family: 'Akaya Telivigala',sans-serif;
  text-shadow: 0 0 5px rgb(49, 31, 31), 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
span {
  text-align: center;
  color: moccasin;
  font-family: 'Akaya Telivigala', sans-serif;
  font-size: 4rem;
  height: 100px;
  width: 100%;
  float: left;
  text-shadow: 0 0 5px rgb(49, 31, 31), 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
input{
  margin-left: 42%;
  height: 58px;
background: rgb(255, 229, 180,.6);
width: 16%;
font-size: 2.5rem;
font-family: 'Akaya Telivigala';
font-weight: 800;
color: black;
border-radius: 26px;
outline: none;
margin-bottom: 5rem;
box-shadow: 0 0 5px rgb(49, 31, 31), 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;

}
button{
  height: 50px;
width: 5%;
border-radius: 16px;
margin-left: 25px;
font-family: 'Akaya Telivigala';
font-size: 2rem;
background-color: rgb(255, 229, 180,.6);
outline: none;
box-shadow: 0 0 5px rgb(49, 31, 31), 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
